
<h1>Welcome to Onemonth Rails !</h1>
<p>
	You found the new homepage for my project
	<%= link_to "One month rails", "http://secure-hollows-2132.herokuapp.com" %>
	application.    cool
</p>
<p>
	<%= link_to "Sign up now please!", "#" %></a>
</p>

