<div class="footer">
<small>
	<%= link_to "One month rails", "http://secure-hollows-2132.herokuapp.com" %>  My page</a> by
	<%= link_to " Dazza" , "http://daryljamesphotography.com" %>
</small>
</div>